.popup-container{
    background-color: rgb(249, 252, 255);
    width: 100%;
    position: relative;
    border-radius: 20px;
    box-shadow: 1px 1px 5px rgb(160, 211, 255);
    z-index: 201;
}
.popup-contents{
    max-width: 1200px;
    min-width: 200px;
    width: fit-content;
    height: fit-content;
    min-height: 600px;
    max-height: 600px;
    overflow-y: scroll;
    overflow-x: hidden;
    justify-content: center;
    padding: 0 50px;
}
.popup-contents::-webkit-scrollbar {
    width: 5px;          /* width of the entire scrollbar */
}
  
.popup-contents::-webkit-scrollbar-track {
    
    display: none;      /* color of the tracking area */
}
.popup_on{
    position: fixed !important;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: -moz-fit-content;
    width: fit-content;
}
  
.popup-contents::-webkit-scrollbar-thumb {
    background-color: rgba(71, 71, 74, 0.481); 
    border-radius: 20px; 
    margin-top: 50px;
    margin-bottom: 11px;
    border-top-right-radius:50px;
    border-bottom-right-radius: 50px;
    height: 50px !important;
    background-clip: content-box;
}

.popup-close-btn{
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
}